<div class="main about">
    <div class="container">
      <h2>Hi. My name is <span class="highlight">David Alfonso Castaneda</span></h2>
        <div class="row">
            <div class="col-md-6 thumbnail">
              <%= image_tag "me.jpg" %>
            </div>
            <div class="col-md-6">
                <p>I was born in Bronx, NYC and raised in Wharton, NJ before moving to Chattanooga at 14. Since the age of 12, I've been pursuing my passions, building websites and developing my creativity.</p>
                <p>I started off doing basic HTML and CSS sites for friends and family at a very young age and have over a decade of experience building on both the front-end and back-end using technology like SASS, PHP, JScript, JQuery, Angular, React, NODEJS, Typescript, Ruby, Rails, Python, GoLang, and SQL.</p>
                <p>In 2010, I graduated from The University of Tennessee at Chattanooga with a Bachelor's Degree in Business Marketing. In 2012, I had the oppurtunity to work with <a href="http://apple.com">Apple, Inc.</a> and later went on to work with <a href="http://codecademy.com">Codecademy</a> in 2015. That same year I also co-founded, <a href="http://undaground.co">undaground</a>--a Tennesee based startup that won <a href="http://nooga.com/171887/the-will-this-float-winners-are/">"Best Business Idea" at Co.lab's annual Will This Float competition</a> which earned the startup a spot at the <a href="http://colab.co/programs/accelerator/">CoLab's Accelerator program</a>.</p>
                <p>When I'm not building the next great thing, I like to attend concerts and help out where I can in the community. I'm very much a fan of good food and beer. Feel free to reach out!</p>
            </div>
        </div>
    </div>
</div>
