<div class="main home">
    <div class="jumbotron">
      <div class="container">
        <h2>Hi! I'm <span class="highlight">David Alfonso Castaneda</span> and I build visionary solutions that link communities, creatives, and businesses on the web.</h2>
        <%= link_to "See My Work", 'portfolio', :class => "btn right" %>
      </div>
    </div>
</div>
